@page "/deliveryReport"
@inject ReportsService ReportsService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@inject AuthService _authService
@using System.Globalization;

@*<MudContainer Class="mx-0 mt-4">*@
@if (_loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-4" />
}

@if (_error)
{
    <MudAlert Severity="Severity.Error" Class="my-4">@_errorMessage</MudAlert>
}

<MudTable Class="mx-2"
          Breakpoint="Breakpoint.None"
          Items="list" Dense="true"
          Hover="true"
          SortLabel="Sort By"
          RowsPerPage="25"
          Striped="true"
          Bordered="true"
          FixedHeader="true"
          FixedFooter="true"
          Style="height:90vh;overflow-y:auto">
    <ToolBarContent>
        <div style="flex: 1;">
            <MudText Typo="Typo.h6">Teslimat Raporu</MudText>
        </div>

        <div>
            <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" @onclick="@(() => OpenFilterDialog())" aria-label="Filtre"></MudIconButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.dteSiparisTarihi)">Tarih</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sFirmaAciklama)">Firma Adı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sSiparisiAlan)">Siparişi Alan</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sKodu)">Ürün Kodu</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sAciklama)">Ürün Açıklama</MudTableSortLabel></MudTh>
        @* <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x=>x.lMiktar)">Miktar</MudTableSortLabel></MudTh> *@
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.lMiktari)">Sipariş Miktarı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.nBirimCarpan)">Koli İçi</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.lMevcut)">Mevcut</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.lSevkiyat)">Sevkiyat</MudTableSortLabel></MudTh>
        @* <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x=>x.lBekleyen)">Bekleyen</MudTableSortLabel></MudTh> *@
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.lKalan)">Kalan</MudTableSortLabel></MudTh>
        @* <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x=>x.dteTeslimTarihi)">Teslim Tarihi</MudTableSortLabel></MudTh> *@
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sAciklama2)">Açıklama 2</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbDeliveryReport, object>(x => x.sAciklama3)">Açıklama 3</MudTableSortLabel></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Tarih">
            @if (!string.IsNullOrEmpty(@context.dteSiparisTarihi?.ToString()))
            {
                @context.dteSiparisTarihi.ToString().Substring(0, 10)
                ;
            }
        </MudTd>
        <MudTd DataLabel="Firma Adı">@context.sFirmaAciklama</MudTd>
        <MudTd DataLabel="Siparişi Alan">@context.sSiparisiAlan</MudTd>
        <MudTd DataLabel="Ürün Kodu">@context.sKodu</MudTd>
        <MudTd DataLabel="Ürün Açıklama">@context.sAciklama</MudTd>
        @* <MudTd DataLabel="Miktar" Style="text-align:right">@context.lMiktar.ToString("N2")</MudTd> *@
        <MudTd DataLabel="Sipariş Miktarı" Style="text-align:right">@context.lMiktari.ToString("N2")</MudTd>
        <MudTd DataLabel="Koli İçi" Style="text-align:right">@context.nBirimCarpan.ToString("N2")</MudTd>
        <MudTd DataLabel="Mevcut" Style="text-align:right">@context.lMevcut.ToString("N2")</MudTd>
        <MudTd DataLabel="Sevkiyat" Style="text-align:right">@context.lSevkiyat.ToString("N2")</MudTd>
        @* <MudTd DataLabel="Bekleyen" Style="text-align:right">@context.lBekleyen.ToString("N2")</MudTd> *@
        <MudTd DataLabel="Kalan" Style="text-align:right">
            @context.lKalan.ToString("N2")
            @* <MudTd DataLabel="Teslim Tarihi">
            @if (!string.IsNullOrEmpty(@context.dteTeslimTarihi?.ToString()))
            {
                @context.dteTeslimTarihi.ToString().Substring(0, 10);
            } *@
        </MudTd>
        <MudTd DataLabel="Açıklama 2">@context.sAciklama2</MudTd>
        <MudTd DataLabel="Açıklama 3">@context.sAciklama3</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilecek Satır" />
    </PagerContent>
</MudTable>

@code {
    //private IEnumerable<TbFirma> Elements = Enumerable.Empty<TbFirma>();
    private List<TbDeliveryReport> list = new List<TbDeliveryReport>();
    private string apiMessage = string.Empty;
    private TbDeliveryReport filteredCheque = new TbDeliveryReport();
    static DateTime now = DateTime.Now;
    static DateTime firstDayOfMonth = new DateTime(now.Year, now.Month, 1);
    static DateTime lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    string startDateStr = firstDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    string endDateStr = lastDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    static string sDepo = "";
    static string type = "1";
    static string sSaticiRumuzu = "";
    static string personelKodu = "";
    private bool _loading = true;
    private bool _error = false;
    private string _errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        sDepo = _authService.Auth.sDepo;
        sSaticiRumuzu = _authService.Auth.sSaticiRumuzu;
        personelKodu = _authService.Auth.PERSONELKODU;
        LoadList(startDateStr, endDateStr, sSaticiRumuzu, sDepo, "1");
    }





    private async Task OpenFilterDialog()
    {
        try
        {
            DateTime startDate = DateTime.ParseExact(startDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            DateTime endDate = DateTime.ParseExact(endDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            bool whsAndVendorPerm = (personelKodu.ToUpper().Contains("AD")) ? true : false;
            var parameters = new DialogParameters
            {
                ["FilterOptions"] = new ReportFilterOptions
                {
                    ShowVendor = whsAndVendorPerm,
                    ShowStore = false,
                    ShowClass = false,
                    ShowWarehouse = whsAndVendorPerm,
                    ShowType = true
                },
                ["Filter"] = new ReportFilters
                {
                    StartDate = startDate,
                    EndDate = endDate,
                    Warehouse = sDepo,
                    Vendor = sSaticiRumuzu,
                    Type = type

                }

            };

            var dialog = DialogService.Show<BusinessSmartMobile.Components.Custom_Components.ReportFilter>("Filtrele", parameters);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                var filter = (ReportFilters)result.Data;
                DateTime resStartDate = filter.StartDate.Value;
                startDateStr = resStartDate.ToString("dd.MM.yyyy");
                DateTime resEndDate = filter.EndDate.Value;
                endDateStr = resEndDate.ToString("dd.MM.yyyy");
                sDepo = filter.Warehouse;
                sSaticiRumuzu = filter.Vendor;
                type = filter.Type;
                LoadList(startDateStr, endDateStr, sSaticiRumuzu, sDepo, type);

            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
            StateHasChanged();
        }
    }



    private async void LoadList(string startDate, string endDate, string sSaticiRumuzu, string sDepo, string type)
    {


        try
        {
            (list, apiMessage) = await ReportsService.GetDeliveryReport(startDate, endDate, sSaticiRumuzu, sDepo, type);
            _loading = true;
            _error = false;

            if (!string.IsNullOrEmpty(apiMessage))
            {
                _error = true;
                _errorMessage = apiMessage;
            }
            else if (!list.Any())
            {
                _error = true;
                _errorMessage = "Girilen Filtreye Ait Veri Bulunamadı.";
            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }

    }
}