@page "/salesTurnoverClassifications"
@inject ReportsService ReportsService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@using System.Globalization;

@*<MudContainer Class="mx-0 mt-4">*@
@if (_loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-4" />
}

@if (_error)
{
    <MudAlert Severity="Severity.Error" Class="my-4">@_errorMessage</MudAlert>
}

<MudTable Class="mx-2"
          Breakpoint="Breakpoint.None"
          Items="list" Dense="true"
          Hover="true"
          SortLabel="Sort By"
          RowsPerPage="25"
          Striped="true"
          Bordered="true"
          FixedHeader="true"
          FixedFooter="true"
          RowStyleFunc="RowStyleFunc"
          Style="height:90vh;overflow-y:auto">
    <ToolBarContent>
        <div style="flex: 1;">
            <MudText Typo="Typo.h6">Satış Ciroları Satıcılar</MudText>
        </div>

        <div>
            <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" @onclick="@(() => OpenFilterDialog())" aria-label="Filtre"></MudIconButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.sAciklama)">Açıklama</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.miktar)">Miktar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.maliyet)">Maliyet</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.tutar)">Tutar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.iskonto)">İskonto</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.kar)">Kar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.yuzde)">Yüzde</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.MUISTERISAYISI)">Müşteri Sayısı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.FISSAYISI)">Fiş</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverClassifications, object>(x=>x.FISORTALAMA)">Fiş Ortalama</MudTableSortLabel></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Periyod">@context.sAciklama</MudTd>
        <MudTd DataLabel="Miktar" Style="text-align:right">@context.miktar.ToString("N2")</MudTd>
        <MudTd DataLabel="Maliyet" Style="text-align:right">@context.maliyet.ToString("N2")</MudTd>
        <MudTd DataLabel="Tutar" Style="text-align:right">@context.tutar.ToString("N2")</MudTd>
        <MudTd DataLabel="İskonto" Style="text-align:right">@context.iskonto.ToString("N2")</MudTd>
        <MudTd DataLabel="Kar" Style="text-align:right">@context.kar.ToString("N2")</MudTd>
        <MudTd DataLabel="Yüzde" Style="text-align:right">@context.yuzde.ToString("N2")</MudTd>
        <MudTd DataLabel="Müşteri Sayısı" Style="text-align:right">@context.MUISTERISAYISI.ToString("N2")</MudTd>
        <MudTd DataLabel="Fiş" Style="text-align:right">@context.FISSAYISI.ToString("N2")</MudTd>
        <MudTd DataLabel="Fiş Oratalama" Style="text-align:right">@context.FISORTALAMA.ToString("N2")</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilecek Satır" />
    </PagerContent>
</MudTable>

@code {
    //private IEnumerable<TbFirma> Elements = Enumerable.Empty<TbFirma>();
    private List<TbSalesTurnoverClassifications> list = new List<TbSalesTurnoverClassifications>();

    private string apiMessage = string.Empty;

    private TbSalesTurnoverClassifications filteredCheque = new TbSalesTurnoverClassifications();
    private bool _loading = true;
    private bool _error = false;
    private string _errorMessage = "";
    static DateTime now = DateTime.Now;
    static DateTime firstDayOfMonth = new DateTime(now.Year, now.Month, 1);
    static DateTime lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    string startDateStr = firstDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    string endDateStr = lastDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    static string sinif = "1";

    protected override async Task OnInitializedAsync()
    {
        LoadList(startDateStr, endDateStr, sinif);
    }

    private string RowStyleFunc(TbSalesTurnoverClassifications arg1, int index)
    {
        return (Convert.ToDouble(arg1.kar) < 0) ? "background-color:#ff6d6d" : "";

    }



    private async Task OpenFilterDialog()
    {
        try
        {
            DateTime startDate = DateTime.ParseExact(startDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            DateTime endDate = DateTime.ParseExact(endDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            var parameters = new DialogParameters
            {
                ["FilterOptions"] = new ReportFilterOptions
                {
                    ShowVendor = false,
                    ShowStore = false,
                    ShowClass = true,
                    ShowWarehouse = false,
                    ShowType = false
                },
                ["Filter"] = new ReportFilters
                {
                    StartDate = startDate,
                    EndDate = endDate,
                    Class = sinif

                }

            };

            var dialog = DialogService.Show<BusinessSmartMobile.Components.Custom_Components.ReportFilter>("Filtrele", parameters);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                var filter = (ReportFilters)result.Data;
                DateTime resStartDate = filter.StartDate.Value;
                startDateStr = resStartDate.ToString("dd.MM.yyyy");
                DateTime resEndDate = filter.EndDate.Value;
                endDateStr = resEndDate.ToString("dd.MM.yyyy");
                sinif = filter.Class;
                LoadList(startDateStr, endDateStr, sinif);

            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
            StateHasChanged();
        }
    }



    private async void LoadList(string startDate, string endDate, string sinif)
    {


        try
        {
            (list, apiMessage) = await ReportsService.GetSalesTurnoverClassifications(startDate, endDate, sinif);
            _loading = true;
            _error = false;

            if (!string.IsNullOrEmpty(apiMessage))
            {
                _error = true;
                _errorMessage = apiMessage;
            }
            else if (!list.Any())
            {
                _error = true;
                _errorMessage = "Girilen Filtreye Ait Veri Bulunamadı.";
            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }

    }
}