@page "/salesTurnoverVendors"
@inject ReportsService ReportsService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@inject AuthService _authService
@using System.Globalization;

@*<MudContainer Class="mx-0 mt-4">*@
@if (_loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-4" />
}

@if (_error)
{
    <MudAlert Severity="Severity.Error" Class="my-4">@_errorMessage</MudAlert>
}

<MudTable Class="mx-2"
          Breakpoint="Breakpoint.None"
          Items="list" Dense="true"
          Hover="true"
          SortLabel="Sort By"
          RowsPerPage="25"
          Striped="true"
          Bordered="true"
          FixedHeader="true"
          FixedFooter="true"
          Style="height:90vh;overflow-y:auto">
    <ToolBarContent>
        <div style="flex: 1;">
            <MudText Typo="Typo.h6">Satış Ciroları Satıcılar</MudText>
        </div>

        <div>
            <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" @onclick="@(() => OpenFilterDialog())" aria-label="Filtre"></MudIconButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.periyod)">Periyod</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.sKat)">Kat</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.satici)">Satıcı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.miktar)">Miktar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.lMaliyetTutar)">Maliyet Tutarı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.tutar)">Tutar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.iskonto)">İskonto</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.lKar)">Kar</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.nOran)">Oran</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.prim)">Prim Tutarı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.musteriSayisi)">Müşteri Sayısı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.FISSAYISI)">Fiş</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TbSalesTurnoverVendors, object>(x=>x.FISORTALAMA)">Fiş Ortalama</MudTableSortLabel></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Periyod">@context.periyod</MudTd>
        <MudTd DataLabel="Kat">@context.sKat</MudTd>
        <MudTd DataLabel="Satıcı">@context.satici</MudTd>
        <MudTd DataLabel="Miktar" Style="text-align:right">@context.miktar.ToString("N2")</MudTd>
        <MudTd DataLabel="Maliyet Tutarı" Style="text-align:right">@context.lMaliyetTutar.ToString("N2")</MudTd>
        <MudTd DataLabel="Tutar" Style="text-align:right">@context.tutar.ToString("N2")</MudTd>
        <MudTd DataLabel="İskonto" Style="text-align:right">@context.iskonto.ToString("N2")</MudTd>
        <MudTd DataLabel="Kar" Style="text-align:right">@context.lKar.ToString("N2")</MudTd>
        <MudTd DataLabel="Oran" Style="text-align:right">@context.nOran.ToString("N2")</MudTd>
        <MudTd DataLabel="Prim Tutarı" Style="text-align:right">@context.prim.ToString("N2")</MudTd>
        <MudTd DataLabel="Müşteri Sayısı" Style="text-align:right">@context.musteriSayisi.ToString("N2")</MudTd>
        <MudTd DataLabel="Fiş" Style="text-align:right">@context.FISSAYISI.ToString("N2")</MudTd>
        <MudTd DataLabel="Fiş Ortalama" Style="text-align:right">@context.FISORTALAMA.ToString("N2")</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilecek Satır" />
    </PagerContent>
</MudTable>

@code {
    //private IEnumerable<TbFirma> Elements = Enumerable.Empty<TbFirma>();
    private List<TbSalesTurnoverVendors> list = new List<TbSalesTurnoverVendors>();
    private string apiMessage = string.Empty;
    private TbSalesTurnoverVendors filteredCheque = new TbSalesTurnoverVendors();
    private bool _loading = true;
    private bool _error = false;
    private string _errorMessage = "";
    static DateTime now = DateTime.Now;
    static DateTime firstDayOfMonth = new DateTime(now.Year, now.Month, 1);
    static DateTime lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    string startDateStr = firstDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    string endDateStr = lastDayOfMonth.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture);
    static string sSaticiRumuzu = "";

    protected override async Task OnInitializedAsync()
    {
        sSaticiRumuzu= _authService.Auth.sSaticiRumuzu;
        LoadList(startDateStr, endDateStr,sSaticiRumuzu);
    }





    private async Task OpenFilterDialog()
    {
        try
        {
            DateTime startDate = DateTime.ParseExact(startDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            DateTime endDate = DateTime.ParseExact(endDateStr, "dd.MM.yyyy", CultureInfo.InvariantCulture);
            var parameters = new DialogParameters
            {
                ["FilterOptions"] = new ReportFilterOptions
                {
                    ShowVendor = true,
                    ShowStore = false,
                    ShowClass = false,
                    ShowWarehouse = false,
                    ShowType = false
                },
                ["Filter"] = new ReportFilters
                {
                    StartDate = startDate,
                    EndDate = endDate,
                    Vendor=sSaticiRumuzu

                }

            };

            var dialog = DialogService.Show<BusinessSmartMobile.Components.Custom_Components.ReportFilter>("Filtrele", parameters);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                var filter = (ReportFilters)result.Data;
                DateTime resStartDate = filter.StartDate.Value;
                startDateStr = resStartDate.ToString("dd.MM.yyyy");
                DateTime resEndDate = filter.EndDate.Value;
                endDateStr = resEndDate.ToString("dd.MM.yyyy");
                sSaticiRumuzu = filter.Vendor;
                LoadList(startDateStr, endDateStr,sSaticiRumuzu);

            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
            StateHasChanged();
        }
    }



    private async void LoadList(string startDate, string endDate,string sSaticiRumuzu)
    {

        try
        {
            (list, apiMessage) = await ReportsService.GetSalesTurnoverVendor(startDate, endDate,sSaticiRumuzu);
            _loading = true;
            _error = false;

            if (!string.IsNullOrEmpty(apiMessage))
            {
                _error = true;
                _errorMessage = apiMessage;
            }
            else if (!list.Any())
            {
                _error = true;
                _errorMessage = "Girilen Filtreye Ait Veri Bulunamadı.";
            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }

    }
}