@page "/stocks"
@inject StockService StockService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@*<MudContainer Class="mx-0 mt-4">*@
@if (_loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-4" />
}

@if (_error)
{
    <MudAlert Severity="Severity.Error" Class="my-4">@_errorMessage</MudAlert>
}

<MudTable Class="mx-2"
          Breakpoint="Breakpoint.None"
          Items="list" Dense="true"
          Hover="true"
          SortLabel="Sort By"
          RowsPerPage="25"
          Striped="true"
          Bordered="true"
          FixedHeader="true"
          FixedFooter="true"
          Style="height:90vh;overflow-y:auto">
    <ToolBarContent>
        <div style="flex: 1;">
            <MudText Typo="Typo.h6">Stok Listesi</MudText> <!-- Sola hizalanmış başlık -->
        </div>

        <div>

            <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" @onclick="@(() => OpenFilterDialog())" aria-label="Filtre"></MudIconButton> <!-- Sağa hizalanmış buton -->
            <MudIconButton Icon="@Icons.Material.Filled.QrCodeScanner" @onclick="OpenBarcodeScanner" aria-label="Filtre"></MudIconButton> <!-- Sağa hizalanmış buton -->
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="display:none;"><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.nStokID)">Stok Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sKodu)">Stok Kodu</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sAciklama)">Stok Adı</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.lMevcut)">Mevcut</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sBarkod)">Barkod</MudTableSortLabel></MudTh>
        @* <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x => x.sBirimCinsi2)">Birim</MudTableSortLabel></MudTh>*@
        @*<MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sBirimCinsi2)">Birim 2</MudTableSortLabel></MudTh>*@
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x => x.nBirimCarpan)">Koli İçi</MudTableSortLabel></MudTh>
        @*<MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x => x.lMevcut2)">Mevcut 2</MudTableSortLabel></MudTh>*@
        <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.lFiyat1)">Fiyat</MudTableSortLabel></MudTh>
        @if (sizeOpen == "1")
        {
            <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sBeden)">Beden</MudTableSortLabel></MudTh>
        }
        @if (colorOpen == "1")
        {
            <MudTh><MudTableSortLabel SortBy="new Func<Stock, object>(x=>x.sRenkAdi)">Renk</MudTableSortLabel></MudTh>
        }
    </HeaderContent>
    <RowTemplate>
      
        <MudTd Style="display:none;" DataLabel="Stok ID">@context.nStokID</MudTd>
        <MudTd DataLabel="Stok Kodu">@context.sKodu</MudTd>
        <MudTd DataLabel="Stok Adı">@context.sAciklama</MudTd>
        <MudTd DataLabel="Mevcut">@context.lMevcut</MudTd>
        <MudTd DataLabel="Barkod">@context.sBarkod</MudTd>
        @*<MudTd DataLabel="Birim">@context.sBirimCinsi2</MudTd>*@
        @* <MudTd DataLabel="Birim 2">@context.sBirimCinsi2</MudTd>*@
        <MudTd DataLabel="Koli İçi">@context.nBirimCarpan</MudTd>
        @*<MudTd DataLabel="Mevcut 2">@context.lMevcut2</MudTd>*@
        @*<MudTd DataLabel="Fiyat">@((double.Parse(context.lFiyat, System.Globalization.CultureInfo.InvariantCulture)).ToString("F2", System.Globalization.CultureInfo.InvariantCulture)) </MudTd>*@
        <MudTd DataLabel="Fiyat">@context.lFiyat1 </MudTd>
        @if (sizeOpen == "1")
        {
            <MudTd DataLabel="Beden">@context.sBeden</MudTd>
        }
        @if (colorOpen == "1")
        {
            <MudTd DataLabel="Renk">@context.sRenkAdi</MudTd>
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilecek Satır" />
    </PagerContent>
</MudTable>
<MudDialog @ref="barcodeDialog">

</MudDialog>
@*</MudContainer>*@

@code {
    //private IEnumerable<TbFirma> Elements = Enumerable.Empty<TbFirma>();
    private List<Stock> list = new List<Stock>();
    private string apiMessage = string.Empty;
    private static string colorOpen = CommonParameters.colorOpen;
    private static string sizeOpen = CommonParameters.sizeOpen;
    // private Result<List<TbFiyatTipi>> fiyatTipiListe = new Result<List<TbFiyatTipi>>();
    // private Result<List<TbDepo>> depoList = new Result<List<TbDepo>>();
    private List<TbFiyatTipi> fiyatTipiListe = new List<TbFiyatTipi>();
    private List<TbDepo> depoList = new List<TbDepo>();
    private Stock filteredStock = new Stock();
    private bool _loading = true;
    private bool _error = false;
    private string _errorMessage = "";

    protected override async Task OnInitializedAsync()
    {

        Stock stock = new Stock();
        TbFiyatTipi fiyatTipi = new TbFiyatTipi();
        TbDepo depo = new TbDepo();
        await LoadComponentValues();
        if (!_error)
        {
            LoadList(stock);
        }
    }
    //private async Task<bool> LoadComponentValue1s()
    //{

    //    depoList = await StockService.GetWarehouse();
    //    fiyatTipiListe = await StockService.GetPriceType();
    //    return _error;
    //}
    // private bool GetData<T>(Result<T> data, ref Result<T> target)
    // {
    //     if (!data.Success)
    //     {
    //         _error = true;
    //         _errorMessage = data.ErrorMessage;
    //         _loading = false;
    //         StateHasChanged();
    //         return true;
    //     }

    //     target = data;
    //     return false;
    // }

    // private async Task<bool> LoadComponentValues()
    // {
    //     var tasks = new List<Func<Task<bool>>>
    // {
    //     async () => GetData(await StockService.GetWarehouse(), ref depoList),
    //     async () => GetData(await StockService.GetPriceType(), ref fiyatTipiListe)
    // };

    //     foreach (var task in tasks)
    //     {
    //         if (await task())
    //         {
    //             return true;
    //         }
    //     }

    //     return false;
    // }

    private async Task<bool> GetData<T>(Func<Task<(T, string)>> fetchData, Action<T> setData)
    {
        try
        {
            var (result, message) = await fetchData();

            if (!string.IsNullOrEmpty(message))
            {
                _error = true;
                _errorMessage = message;
                return false;
            }

            setData(result);
            return true;
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
            return false;
        }
    }

    private async Task<bool> LoadComponentValues()
    {
        var tasks = new List<Func<Task<bool>>>
{
        async () => await GetData(() => StockService.GetWarehouse(),data => depoList = data),

    //    async () => await GetData(() => StockService.GetPriceType(),data => fiyatTipiListe = data)
    };

        foreach (var task in tasks)
        {
            if (!await task())
            {
                return false;
            }
        }

        return true;
    }

    private async Task OpenFilterDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters { { "stock", filteredStock }, { "depoList", depoList }, { "fiyatTipi", fiyatTipiListe } };
        var dialog = await DialogService.ShowAsync<BusinessSmartMobile.Components.Custom_Components.StockFilterDialog>("Filtrele", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            filteredStock = (Stock)result.Data;
            LoadList(stock: filteredStock);
        }
    }

    private MudDialog barcodeDialog;

    private async void OpenBarcodeScanner()
    {

        //var barcodeScannerPage = new BusinessSmartMobile.Components.BarcodeScanner.BarcodeScanner();
        var barcodeScannerPage = new BusinessSmartMobile.Components.BarcodeReader.SingleBarcodeReaderComponent();

        await App.Current.MainPage.Navigation.PushModalAsync(barcodeScannerPage);

        var barcodeResult = await barcodeScannerPage.BarcodeResult;

        //barcodeDialog?.Show();
        string barcode = barcodeResult;
        Stock stock = new Stock();
        stock.sBarkod = barcode;
        LoadList(stock: stock);
    }
    private async void LoadList(Stock stock)
    {



        (list, apiMessage) = await StockService.GetStocks(stock.sKodu, stock.sAciklama, stock.sFiyatTipi, stock.sDepo, stock.sBarkod, stock.sRenkAdi, stock.sBeden, stock.getAll);

        try
        {
            _loading = true;
            _error = false;

            if (!string.IsNullOrEmpty(apiMessage))
            {
                _error = true;
                _errorMessage = apiMessage;  // Hata mesajını buraya atıyoruz
            }
            else if (!list.Any())
            {
                _error = true;
                _errorMessage = "Girilen Filtreye Ait Veri Bulunamadı.";
            }
        }
        catch (Exception ex)
        {
            _error = true;
            _errorMessage = $"Hata oluştu: {ex.Message}";
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }

    }
}